        <hr />
        [% IF c().session_user_id() %]
        <a href="[% uri_for('/my/') %]">my page</a>
        [% ELSE %]
        <a href="[% uri_for('/') %]">top</a>
        [% END %]
        </div>
    </div>
</body>
</html>
