[% INCLUDE 'include/header.tt' %]

<h1>Error</h1>

<div style="color:red">
    <pre>[% message %]</pre>
</div>

[% IF c().session_user_id() %]
<a href="/my/">my page</a>
[% ELSE %]
<a href="/">top</a>
[% END %]

[% INCLUDE 'include/footer.tt' %]
