[% INCLUDE 'include/header.tt' %]

<h1>位置ゲーのサンプル</h1>

<p><a href="[% uri_for('/login?guid=ON') %]">ログイン</a></p>

<p>
これは位置ゲーのサンプルです。<br />
かんたんログインは脆弱ですが、それはこのサイトの本質ではないので無視しましょう。<br />
</p>

[% INCLUDE 'include/footer.tt' %]
