[% INCLUDE 'include/header.tt' %]

<h1>位置ゲーのサンプル</h1>

<p>[% a_tag %]チェックイン</a></p>

<div>
    現在の総移動距離: <B>[% user.total_distance() | commify %]km</B>
</div>

<p>
これは位置ゲーのサンプルです。<br />
</p>

<a href="[% uri_for('/my/history') %]">過去履歴</a>

[% INCLUDE 'include/footer.tt' %]
